.DondeEstamos {
    .DondeEstamos__h2--Titulo {
        font-size: 2rem;
        margin: 20px 0;
        padding: 10px;
        color: white;
        border-radius: 5px;
        background-color: #E33734;
        text-align: center;
        width: 300px;
    }
    .DondeEstamos__p--Informacion {
        line-height: 25px;
        margin-right: 20px;
    }
}

.TituloContacto {
	font-size: 2rem;
	margin: 20px 0;
	padding: 10px;
	color: white;
	border-radius: 5px;
	background-color: #E33734;
	text-align: center;
    width: 300px;
}


