.Nosotros__h2--TituloNosotros{
	font-size: 2rem;
	text-decoration:none;
	margin: 20px;
	padding: 20px;
	color: white;
	border:2px #E33734 solid;
	border-radius: 5px;
	background-color: #E33734;
	text-align: center;
	width: 300px;
}

.Cerveza22 {
	margin: 20px;
}

.Cerveza3 {
	margin: 20px;
}

.ParrafoNosotros__p--Parrafo {
	width: 500px;
	height: 400px;
	letter-spacing: normal;
	line-height: 30px;
	text-align: justify;
	margin: 20px;
	padding: 10px;
}