
.FotoInsumosEquipos{
    width: 100%;
	margin-top: 20px;
    margin-bottom: 20px;
	display: inline-block;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.TituloProveedores {
    .TituloProveedores__h2--Titulo {
        font-size: 2rem;
	    /**margin: 20px;**/
	    padding: 20px;
        margin-top: 20px;
	    display: inline-block;
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
    }
}
.ImagenesProveedores {
    width: 100%;
    /**margin-top: 20px;**/
    margin-bottom: 20px;
    .ImagenesProveedores__img--Cargill {
        margin: 10px;
    }
    .ImagenesProveedores__img--Maltear {
        margin: 10px;
    }
    .ImagenesProveedores__img--Hopsteiner {
        margin: 10px;
    }
    .ImagenesProveedores__img--Barthhaasgroup {
        margin: 10px;
    }
    .ImagenesProveedores__img--Lallemand {
        margin: 10px;
    }
}