.ImagenProceso{
    margin: 20px;
}

.Tip1 {
    .Tip1__p--Titulo1 {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: normal;
        line-height: 30px;
        margin: 10px 20px;
        padding: 10px;
    }
    .Tip1__p--Parrafo1 {
        line-height: 20px;
        margin: 10px 20px;
        
    }
    .Tip1__img--Imagen {
        margin: 20px;
        
    }
}

.Tip2 {
    .Tip2__p--Titulo2 {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: normal;
        line-height: 30px;
        margin: 10px 20px;
        padding: 10px;
    }
    .Tip2__p--Parrafo2 {
        line-height: 20px;
        margin: 10px 20px;
    }
    .Tip2__img--Imagen {
        margin: 20px;
    }
}

.Tip3 {
    .Tip3__p--Titulo3 {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: normal;
        line-height: 30px;
        margin: 10px 20px;
        padding: 10px;
    }
    .Tip3__p--Parrafo3 {
        line-height: 20px;
        margin: 10px 20px;
    }
}

.Tip4 {
    .Tip4__p--Titulo4 {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: normal;
        line-height: 30px;
        margin: 10px 20px;
        padding: 10px;
    }
    .Tip4__p--Parrafo4 {
        line-height: 20px;
        margin: 10px 20px;
    }
}

.Tip5 {
    .Tip5__p--Titulo5 {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: normal;
        line-height: 30px;
        margin: 10px 20px;
        padding: 10px;
    }
    .Tip5__p--Parrafo5 {
        line-height: 20px;
        margin: 10px 20px;
    }
    .Tip5__img--Imagen {
        margin: 10px 20px;
    }
}

.Tip6 {
    .Tip6__p--Titulo6 {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: normal;
        line-height: 30px;
        margin: 10px 20px;
        padding: 10px;
    }
    .Tip6__p--Parrafo6 {
        line-height: 20px;
        margin: 10px 20px;
    }
}

.Tip7 {
    .Tip7__p--Titulo7 {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: normal;
        line-height: 30px;
        margin: 10px 20px;
        padding: 10px;
    }
    .Tip7__p--Parrafo7 {
        line-height: 20px;
        margin: 10px 20px;
    }
    .Tip7__img--Imagen {
        margin: 10px 20px;
    }
}

